<div class="row" id="intro">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <p id="name">
            <%= profileInformation.name %>
        </p>
        <p id="headline">
            <%= profileInformation.headline %>
        </p>
        <br>
        <ul id="social-links">
            <li id="linkedin">
                <a href="https://www.linkedin.com/in/kushagragupta95/">
                    <i class="fab fa-linkedin-in fa-2x"></i>
                </a>
            </li>
            <li id="github">
                <a href="https://github.com/gKushagra">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <hr>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row" id="aboutme">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p id="heading-skill">About Me</p>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row" id="summary-row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p id="summary">
            <% profileInformation.summary.forEach(element => {%>
            <%= element %><br><br>
            <% }); %>
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <hr>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row" id="skills">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p id="heading-skill">Skills</p>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row" id="skillset-row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="skill">
        <% profileInformation.skillset.forEach(element => { %>
        <p id="skill-name"><%= element.skill %></p>
        <div class="progress" id="dynamic">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"><%= element.proficiency %>%</div>
        </div> <br>
        <% }); %>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <hr>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row" id="proj">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p id="heading-skill">Projects</p>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row" id="projects-row">
    <% profileInformation.projects.forEach(element => { %>
    <div class="col-md-3" id="project-box">
        <div class="row" id="image">
            <img src="/images/login-portal.JPG" alt="Image">
        </div>
        <p id="project-title"><%= element.title %></p>
        <p id="description"><%= element.description %></p>
        <p id="technologies">
            <% element.technologies.forEach(tech => {%>
            <%= tech %>
            <% }); %>
        </p>
        <i class="fab fa-github fa-2x"></i>
    </div>
    <% }); %>
</div>